:root {
  --black-color: #263238;
  --base-color: #baef00;
  --base-color-hover:#D9FF56;
  --base-color-active: #a3d200;
  --border-color: #e3e3e3;
  --placeholder-color: #8D8D8D;
  --transition-duration: .3s;
}

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--black-color);
  background-color: grey;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.default-link {
  color: var(--black-color);
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  transition: color var(--transition-duration), background-color var(--transition-duration);
}

.default-link:focus-visible {
  outline: none;
  background-color: var(--base-color);
}

.default-link:hover {
  color: var(--base-color-hover);
}

.default-link:active {
  color: var(--base-color-active);
}

.default-btn {
  display: inline-block;
  padding: 11px 47px;
  border: none;
  border-radius: 12px;
  color: var(--black-color);
  background: var(--base-color);
  font-weight: 400;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: outline-color var(--transition-duration), background-color var(--transition-duration);
  cursor: pointer;
}

.default-btn:focus-visible {
  outline-color: var(--base-color);
}

.default-btn:hover {
  background: var(--base-color-hover);
}

.default-btn:active {
  background: var(--base-color-active);
}

.text-field {
  padding: 11px 16px 11px 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  transition: border-color var(--transition-duration);
  outline: none;
}
.text-field::-moz-placeholder {
  color: var(--placeholder-color);
}
.text-field::placeholder {
  color: var(--placeholder-color);
}

.text-field:focus {
  border-color: var(--base-color);
}

.subtitle {
  text-align: center;
  margin: 0;
  font-weight: 700;
  font-size: 34px;
}

.logo {
  display: block;
  width: 154px;
  height: 16px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.menu__link {
  color: white;
  outline: none;
  transition: color var(--transition-duration), background-color var(--transition-duration);
}
.menu__link:focus-visible {
  color: var(--black-color);
  outline: none;
  background-color: var(--base-color);
}
.menu__link:hover {
  color: var(--base-color-hover);
}
.menu__link:active {
  color: var(--base-color-active);
}

.callback-form {
  display: flex;
  gap: 16px;
}

.callback-form__inp {
  flex-basis: 288px;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--border-color);
}
.product-card__img {
  display: block;
  flex-shrink: 0;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.product-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  padding: 15px;
}
.product-card__body-top {
  margin-bottom: 22px;
}
.product-card__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 21px;
  color: #000;
}
.product-card__price {
  font-weight: 700;
  font-size: 18px;
}
.product-card__btn {
  width: 100%;
}

.product-card_big {
  position: relative;
  overflow: hidden;
  border: none;
  height: 350px;
}

.product-card__img_big {
  height: 100%;
  border-radius: 12px;
  scale: 101%;
}

.product-card__body_big {
  position: absolute;
  align-items: flex-start;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
}

.product-card__title_big {
  color: white;
}

.product-card__btn_big {
  width: initial;
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 40px;
}

@media (max-width: 740px) {
  .callback-form {
    flex-direction: column;
    gap: 16px;
  }
  .callback-form__inp {
    flex-basis: initial;
  }
  .product-card__img {
    height: 90px;
  }
  .product-card__body {
    padding: 10px;
  }
  .product-card__body-top {
    margin-bottom: 22px;
  }
  .product-card__title {
    font-size: 14px;
  }
  .product-card__price {
    font-weight: 700;
    font-size: 18px;
  }
  .product-card__img_big {
    height: 100%;
    border-radius: 12px;
  }
  .product-card__btn_big {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */